<div style="width:100%" layout="row" md-theme="red">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <h1>Log Search</h1>
        </md-toolbar>
        <md-input-container style="margin-bottom:0">
            <label>Customer Name</label>
            <input required name="customerName" ng-model="vm.filterText" ng-change="vm.filter()">
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="event in vm.events">
                <md-button ng-click="vm.selectCustomer(event, $index)" ng-class="{'selected' : event === vm.selected }">
                    {{event.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>{{ vm.selected.name }}</h1>
        </md-toolbar>
        <md-content layout-fill style="width:100%; min-width:60vw; height:100%; min-height:89vh;">
            <pre layout-fill>
                {{vm.state}}
            </pre>
        </md-content>
        <md-content flex id="content" ng-if="vm.selected">
            <div layout="column" style="width:50%">
                <br />
                <md-content layout-padding class="autoScroll">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="vm.selected.name" type="text">
                    </md-input-container>
                    <md-input-container md-no-float>
                        <label>Email</label>
                        <input ng-model="vm.selected.email" type="text">
                    </md-input-container>
                    <md-input-container>
                        <label>Address</label>
                        <input ng-model="vm.selected.address" ng-required="true">
                    </md-input-container>
                    <md-input-container md-no-float>
                        <label>City</label>
                        <input ng-model="vm.selected.city" type="text">
                    </md-input-container>
                    <md-input-container md-no-float>
                        <label>Phone</label>
                        <input ng-model="vm.selected.phone" type="text">
                    </md-input-container>
                </md-content>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <!-- <md-button class="md-raised md-info" ng-click="vm.createCustomer()">Add</md-button>
                    <md-button class="md-raised md-primary" ng-click="vm.saveCustomer()">Save</md-button>
                    <md-button class="md-raised md-danger" ng-click="vm.cancelEdit()">Cancel</md-button>
                    <md-button class="md-raised md-warn" ng-click="vm.deleteCustomer()">Delete</md-button> -->
                </section>
            </div>
        </md-content>
    </div>
</div>
